<!-- Footer -->
<footer class="footer" style="border-top-style: solid;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80px;
  background: #fafafa;
">
    <!-- Copyright -->
    <div class="footer-copyright text-center py-1" >© Copyright 2013 OSF Global Services
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->