<!-- Footer -->
<footer class="footer mb-0 pb-0" style="border-top-style: solid;">
    <!-- Copyright -->
    <div class="footer-copyright text-center py-1" >© Copyright 2013 OSF Global Services
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->