
<div class="container">
    <div class="row">
        <div class="col-sm">
            <img src="/images/products/medium/<%= product.image %>" class="img-fluid" alt="Responsive image">
        </div>
        <div class="col-sm">
            <div class="container">
                <div class="row">
                    <h4><%= product.title%></h4>
                </div>
                <div class="row">
                    <p><%= product.description %></p>
                </div>
                <div class="row">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm">
                                <a class="btn btn-primary text-white" href="#" role="button" >Buy now</a>
                            </div>
                            <div class="col-sm">
                                Price : $ <%= product.price %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>